@model OdeToFood.Models.AboutModel

@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

@*<p>You are in <b>@ViewBag.Location</b></p>*@


<h1>Hi @Model.Name </h1>

<h2>You are currently in @Model.Location</h2>